<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{userbase :: layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section>
    <h1 class ="text-center" style="font-weight: bold">Book a vehicle on your way</h1>
    <!-- Search Bar -->
    <div class="search-bar align-items-center col-md-6 offset-md-3">
        <h2 class="text-center mt-5" style="font-weight: bold">Search Vehicles</h2>
        <form class="p-5 align-items-center" id= "searchForm" th:action="@{/user/available_vehicles}" method="post">
            <div class="dropdown">
                <select class="form-select country" aria-label="Default select example" onchange="loadStates()">
                    <option selected>Select Country</option>
                </select>
                <select class="form-select state" aria-label="Default select example" onchange="loadCities()">
                    <option selected>Select State</option>
                </select>
                <select class="form-select city" aria-label="Default select example" name="city">
                    <option selected>Select City</option>
                </select>
            </div>
            <!-- vehicle type radio buttons of car and bike -->
            <div class="form-group p-2 d-flex">
                <label>Vehicle Type</label>
                <div class="form-check form-check-inline pl-3">
                    <input class="form-check-input" type="radio" name="vehicleType" id="carType" value="Car" required onclick="updateBrandDropdown('Car')">
                    <label class="form-check-label" for="carType">Car</label>
                </div>
                <div class="form-check form-check-inline pl-3">
                    <input class="form-check-input" type="radio" name="vehicleType" id="bikeType" value="Bike" required onclick="updateBrandDropdown('Bike')">
                    <label class="form-check-label" for="bikeType">Bike</label>
                </div>
            </div>

            <!-- Daily, weekly, monthly radio buttons -->
            <div class="form-group p-2" id="bookingType">
                <label for="bookingType">Booking Type</label>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="bookingType" id="daily" value="Daily" required>
                    <label class="form-check-label" for="daily">Daily</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="bookingType" id="weekly" value="Weekly">
                    <label class="form-check-label" for="weekly">Weekly</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="bookingType" id="monthly" value="Monthly">
                    <label class="form-check-label" for="monthly">Monthly</label>
                </div>
            </div>
            <!-- Hidden fields for days, weeks and months-->
            <input type="hidden" id="days" name="days" placeholder="Enter number of days">
            <input type="hidden" id="weeks" name="weeks" placeholder="Enter number of weeks">
            <input type="hidden" id="months" name="months" placeholder="Enter number of months">
            <!-- calendar -->
            <div class="form-group p-2">
                <label for="date">Pickup Date</label>
                <input type="date" name="startDate" id="date" class="form-control" required>
            </div>
            <!-- search button -->
            <button type="submit" class="btn btn-primary ml-2" onclick="searchVehicles()">Search</button>
        </form>
    </div>
    <!-- Display error message if no vehicles are available -->
    <div th:if="${message}" th:classappend="${message.type}" class="alert" role="alert">
        <span class="text-center" th:text="${message.text}"></span>
    </div>
    <!-- Display available vehicles -->
    <div class="container">
        <div class="row row-cols-1 row-cols-md-3">
            <div class="col-md-4 col-sm-6 mb-4" th:each="vehicle : ${vehicles}">
                <a th:href="@{/user/book/vehicle-details/__${vehicle.registrationNumber}__}">
                    <div class="vehicle-card p-3">
                        <img th:src="@{/images/__${vehicle.frontViewImage}__}" alt="Front View" class="card-img-top shadow rounded img-fluid resize-image">
                        <div class="card-body">
                            <h5 th:text="${vehicle.brandName}+'  '+ ${vehicle.modelName}"></h5>
                            <p th:text="'Vehicle Type: '+${vehicle.vehicleType}"></p>
                            <p th:text="'Registration number: '+${vehicle.registrationNumber}"></p>
                            <p th:text="'price: '+${vehicle.vehicleType == 'Bike' ? '500' : '1000'} + ' INR/ -per day'"></p>
                            <!-- Ratings and reviews -->
                            <div th:if="${vehicle.averageRating}" class="rating d-flex">
                                <p>Rating: <span th:text="${vehicle.averageRating}"></span></p>
<!--                                <span class="rating"><span class="stars" style="width: calc(100% * ${vehicle.averageRating} / 5);">★★★★★</span>-->
<!--                                </span>-->
<!--                                //anchor tag to reviews-->
                                <a th:href="@{/user/reviews/__${vehicle.registrationNumber}__}" class="ml-2">Reviews</a>
                            </div>

                            <div class="flex p-3">
                                <a class="btn btn-primary book-btn" th:href="@{/user/confirm-booking/__${vehicle.registrationNumber}__}">Book</a>
                                <a class="btn btn-primary view-btn" th:href="@{/user/book/vehicle-details/__${vehicle.registrationNumber}__}">View</a>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
</body>
</html>

<!--<script>-->
<!--    document.getElementById('searchForm').addEventListener('submit', function(e) {-->
<!--        e.preventDefault(); // Prevent the default form submission-->

<!--        const citySelect = document.querySelector('.city');-->
<!--        const selectedCity = citySelect.value;-->

<!--        // Set the actual URL with the selected city-->
<!--        const formAction = `/user/vehicle-booking/`+selectedCity;-->
<!--        this.action = formAction;-->

<!--        // Submit the form-->
<!--        this.submit();-->
<!--    });-->
<!--</script>-->