<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{userbase :: layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Vehicle Booking Confirmation</title>
</head>
<body>
    <section>
        <!--Booking confirmation page -->
        <!--Display booking details-->
            <div>
                <div class="card mt-3 col-md-4 offset-md-3" id="vehicleDetailsTable">
                    <div class="card-header">
                        <h1>Booking Details</h1>
                    </div>
                    <div class="vehicle-card p-3">
                        <img th:src="@{/images/__${vehicle.frontViewImage}__}" alt="Front View" class="card-img-top shadow rounded img-fluid resize-image">
                        <div class="card-body">
                            <div>
                                <h2>Vehicle Details</h2>
                                <p th:text="'Brand: ' + ${vehicle.brandName}"></p>
                                <p th:text="'Model: ' + ${vehicle.modelName}"></p>
                                <p th:text="'Type: ' + ${vehicle.vehicleType}"></p>
                                <p th:text="'Start Date: ' + ${bookingDetails.startDate}"></p>
                                <p th:text="'End Date: ' + ${bookingDetails.endDate}"></p>
                                <p th:text="'Booking Type: ' + ${bookingDetails.bookingType}"></p>
                                <p th:text="'Pickup Location: ' + ${bookingDetails.pickupLocation}"></p>
                                <p th:text="'Total Cost: ' + ${bookingDetails.totalCost} + ' INR'"></p>
                            </div>

                            <!-- Display User Information -->
                            <div>
                                <h2>User Information</h2>
                                <p th:text="'Name: ' + ${user.firstName} + ' ' + ${user.lastName}" id="userName"></p>
                                <p th:text="'Email: ' + ${user.email}" id="userEmail"></p>
                                <p th:text="'Phone: ' + ${user.contactNumber}" id="userPhone"></p>
                            </div>
                            <!--dark color horizontal line-->
                            <hr class="bg-dark">
                            <hr class="bg-dark">

                            <div th:if="${bookingDetails.bookingStatus} == 'Pending'">
                                <!-- Payment Method and Confirmation Button -->
                                <div class="form-group p-2 mt-3">
                                        <!-- Ask for license number -->
                                        <label for="licenseNumber">Enter License Number:</label>
                                        <input type="text" id="licenseNumber" name="licenseNumber">

                                        <!-- Hidden License Number Field -->
                                        <input type="hidden" id="userLicenseNumber" th:value="${user.licenseNumber}" name="licenseNumber">

                                        <!-- Hidden payment fields -->
                                        <input type="hidden" id="paymentAmount" th:value="${bookingDetails.totalCost}" name="totalCost">

                                        <!-- Confirmation button -->
                                        <button type="submit" class="btn btn-primary m-2" onclick="createOrder()">Make Payment</button>
                                </div>
                            </div>
<!--                            anchor button to download receipt-->
                            <div th:if="${bookingDetails.bookingStatus} == 'Booked'">
                                <b><p>Payment is done successfully</p></b>
                                <a class="btn btn-success" th:href="@{/user/download-receipt/{id}(id=${bookingDetails.id})}">Download Receipt</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
</body>
</html>